{{ comment_form.media }}

<form action="" method="post">
{% csrf_token %}
		{% for field in comment_form %}	
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.label_tag }}
			<br />
			{{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Comment">
	<script>
		myPanel = document.getElementsByClassName("wmd-panel");
		//myPanel.setAttribute('style', 'margin-left: 30%; width: 50%; min-width:30%');
		myPanel[0].style.marginLeft = "10%";
		myPanel[0].style.width= "50%";
		myPanel[0].style.minWidth = "80%";
	</script>
</form>
