{% extends "base_generic.html" %}

{% block content %}
	<form action="" method="post" class="needs-validation" novalidate>
		{% csrf_token %}
		<div class="form-group" >
		{{ form.non_field_errors }}
			<div class="col-lg-6">
				{{ form.title.errors }}
				<label for="id_title"> Title: </label>
				{{ form.title }}
				<div class="invalid-feedback">
					<small>
						Please enter title.
					</small>
				</div>
			</div>
			<script>
				var title = document.getElementById("id_title");
				title.setAttribute("required", "");
				title.className += "form-control";
				title.placeholder= "{{ form.title.help_text }}";
			</script>
			
			<div class="col-lg-10">
				{{ form.text.errors }}
				<label for="id_text"> Text: </label>
				{{ form.text }}
			</div>
			<script>
				var text_area = document.getElementById("id_text");
				text_area.className += "form-control"; 
				text_area.placeholder = "{{ form.text.help_text }}";
				text_area.rows = 30;
			</script>
			<div class="form-group">
				<div class="col-lg-3">
					{{ form.categories.errors }}
					<label for="id_categories"> Categories: </label>
					{{ form.categories }}
				</div>
			</div>
			<script>
				var categories = document.getElementById("id_categories");
				categories.className += "custom-select";
				categories.setAttribute("size", 2);
			</script>
		<input type="submit" value="Submit" class="form-control col-lg-2" >
		</div>
	</form>

<script>

	(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
	})();

</script>

{% endblock %}

