{% extends "base_generic.html" %}

{% block content %}
<div class="col-sm-10">
	<h1 class="text-center"> {{ post.title }}  </h1>
	<p class="text-center"><i><a href="{% url 'profile-detail' post.author.profile.pk %}">  {{ post.author }} </a></i> {{ post.created_on|date:"M d, Y" }} </p>
	<div class="body-text">	
		{{ post.text|linebreaks }} 
	</div>
	 <div class="categories">												
	 	{% if post.categories %}                      
	 		<ul>                                        
	 			{% for category in post.categories.all %}   
	 			<li> {{ category }} </li>                 
	 			{% endfor %}                             
	 		</ul>                                      
	 	{% endif %}                                  
	 </div>                                        
	{% if user.is_authenticated %}
		<div>
			<!-- <p> {{ user.username }} </p> !-->
			<!-- comentario agregado para actualizar !-->
			{% if request.user.username == post.author.username %} 
			<button type="button"><a class="btn btn=primary" href="{% url 'post-update' post.slug %}"> Edit </a></button>
			<button type="button"><a class="btn btn=primary" href="{% url 'post-delete' post.slug %}"> Delete </a></button>
			{% endif %}
		</div>
	{% endif %}
	{% include 'blog/comment_form.html' %}
</div>
{% endblock %}
