{% extends "base_generic.html" %}

{% block content %}
<div>
	<h1> {{ post.title }}  </h1>
	<h2> {{ post.author }} </h2>
	<div class="body-text">	
		{{ post.text|linebreaks }} 
	</div>
	{% if user.is_authenticated %}
		<div>
			<button type="button"><a class="btn btn=primary" href="{% url 'post-update' post.slug %}"> Edit </a></button>
			<!--
			<input type="submit" href="{% url 'post-update' post.slug %}" value="Edit">
			<input type="submit" value="Redirect">
			--!>
		</div>
	{% endif %}
</div>
{% endblock %}
