{% extends "base_generic.html" %}

{% block content %}
	{% if query %}
	<h2> Results for <i>{{ query|escape }}</i> </h2>

		{% if results %}
			<ul>
			{% for post in results %}			
				<li>
					<h3 class="post-title text-center"><a href="{{ post.get_absolute_url }}"> {{ post.title}} </a></h3>
					<p class="text-center">by <i><a href="{% url 'profile-detail' post.author.profile.pk %}">  {{ post.author }} </a></i>, {{ post.created_on|date:"M d, Y"  }}</p>
					<p class="text-justify"> {{ post.text|truncatewords:50 }} </p>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
{% endblock %}
