body{
	padding-top: 10px;
	font-family: 'Rajdhani', sans-serif;
	background-color: white;
}


.sidebar-nav{
	margin-top: 5px;
	padding: 0;
/*	list-style: none; */
}

ul{
	/*list-style-type: none;*/
}

nav ul li a{
	color: #fff;
}

.nav-item{
	width: inherit;
}

.nav-item:hover{
	background-color:#555;
}

.nav-link:hover{
	color: white;
}

.posts-list{
	list-style:none;	
}

.categories{
	font-size: 0.75em;
}

.nav-item-search{
	
}

#search-form{
	margin-top: 10px;
}

.top-buffer{
	margin-top: 20px;
}
